.react-chatbot-kit-chat-container {
    width: 400px;
    /* height: 200px; */
}

.react-chatbot-kit-chat-inner-container {
    height: 480px;
    background-color: #fff;
    border-radius: 3px;
    border-radius: 5px;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 20px;
}

